

config.properties 
desktop.ini
file.properties 
file.txt 
gestionale_sportivo.iml 
provaGit.txt
vcs.xml
.idea/
target
.gitgnore
=======
# Eclipse artifacts, including WTP generated manifests
.classpath
.project
.metadata/

# IDEA artifacts and output dirs
*.iml
*.ipr
*.iws
.idea
out
test-output
atlassian-ide-plugin.xml
.gradletasknamecache

# MISCELLANEA
target/

