body{
     background-color: #b5c3cc;
 }

body h1{
    text-align: center;
    text-shadow: 5px 3px cadetblue ;
    color: white;
    font-style: italic;

}

body img {
    width: 300px;
    height: auto;
    margin: 5px;
    padding: auto;

}

.stadio, .squadra , .partita{ /*dv stadio e tutte i div si metterenno accanto l'altro per il float, */

    float: left; /*per mettere qualcosa accanto*/
    padding: 20px;
}


#inserisciPartita,#inserisciSquadra, #inserisciStadio {
    text-align: left;
    text-shadow: 3px 2px cadetblue ;
    color: white;
    font-style: italic;
    font-size: 30px;
}






