body{
     background-color: #b5c3cc;
 }

body h1{
    text-align: center;
    text-shadow: 5px 3px cadetblue ;
    color: white;
    font-style: italic;

}

body img {
    width: 300px;
    height: auto;
    margin: 5px;
    padding: auto;

}

.stadio, .squadra , .partita, .areaVisualizza{ /*dv stadio e tutte i div si metterenno accanto l'altro per il float, */

    float: left; /*per mettere qualcosa accanto*/
    padding: 20px;
}


#inserisciPartita,#inserisciSquadra, #inserisciStadio, #imagineVisualizza{
    text-align: left;
    text-shadow: 3px 2px cadetblue ;
    color: white;
    font-style: italic;
    font-size: 30px;
}

/*.visualizza{*/
    /*display: none;*/
    /*float: left;*/
    /*position: absolute;*/
    /*left: 0;*/
/*}*/

.areaVisualizza .visualizza #imagineVisualizza{
    text-align: left;
}

button{
    width: 60px;
    height: 30px;
    background: #73bbc2;
    color: white;
    left: 50px;
    right: 50px;
    margin: 10px;
    padding: 5px;


}



label{
    text-align: left;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    font-style: italic;
    font-size: 20px;

}

a{
    text-decoration: none;
}








