body {
    background-color: lightgreen;

}

#form {
    background-color: darkorange;
    width: 50%;
    border-radius: 25px;
    margin: 0 auto;
    width: 500px;
    height: 400px;
    font-size: 25px;
}

#form > input {
    width: 100%;
    clear: both;
}

input[type="text"], input[type="date"] {
    padding: 14px;
}

input[type="submit"] {
    background-color: coral;
    cursor: pointer;
    padding: 14px;
    margin: 4px 2px;
    color: black;
    display: inline-block;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
