
body{
    background-color: #b5c3cc;
}

#registroPartita, #registroStadio{
    text-align: center;
    text-shadow: 3px 2px cadetblue ;
    color: white;
    font-style: italic;
    font-size: 30px;

}
 .registraPartita h1{
    text-align: left;
    text-shadow: 3px 2px cadetblue ;
    color: white;
    font-style: italic;
    font-size: 30px;


}
 h1{
    text-align: left;
    text-shadow: 3px 2px cadetblue ;
    color: white;
    font-style: italic;
    font-size: 30px;

}

.imaginestadio a img, .partita a img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

