body{
    background-color: #b5c3cc;
}
#registroSquadra{
    text-align: center;
    text-shadow: 3px 2px cadetblue ;
    color: white;
    font-style: italic;
    font-size: 30px;
}

img{
   display: block;
    margin: auto;
}

.inserisciSquadra h1{
    text-align: left;
    text-shadow: 3px 2px cadetblue ;
    color: white;
    font-style: italic;
    font-size: 30px;

}
