body{
    background: #b5c3cc;;
}

.areaLogin{
    background: #f7e8d8;
    width: 300px;
    height: 300px;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #900c3e;

}

.areaLogin form{
    padding: 40px;

}

input{
    margin: 15px;
}

 #bottone{
    margin-top: 15px;
    padding: 5px;
    position: absolute;


}

 label{
    font-style: italic;
     color: #b30047;
 }